.realm-card {
  border: solid 1px #ffc107;
  border-radius: 6px;
  background : #ffc10733;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.realm-card-faction-logo{
  width:60px;
  height:60px;
  display : inline-block;
}
.realm-card-heading{
  size:18px;
  //background : #61dafb33;
  border-radius: 6px;
}