.currencygold {
  padding-left: 5px;
  text-align: left;
  padding-right: 15px;
  background: no-repeat right center;
  background-image: url(../../images/money-gold.gif);
}
.currencysilver {
  padding-left: 5px;
  text-align: left;
  padding-right: 15px;
  background: no-repeat right center;
  background-image: url(../../images/money-silver.gif);
}
.currencycopper {
  padding-left: 5px;
  padding-right: 15px;
  text-align: left;
  background: no-repeat right center;
  background-image: url(../../images/money-copper.gif);
}