.google-visualization-orgchart-table {
  border-collapse: initial !important;
}
.currencysilver, .currencygold, .currencycopper {
  padding-left : 5px !important;
  padding-right: 15px !important;
}
.item-stats h5 {
  height:60px;
}
.overflow-scroll {
  overflow-x: scroll;
}